h1 {color:brown; text-align: center; font-size: 49px}
h2 {color: brown; font-family: Arial; font-size: 22px; text-align: center}
h3 {background-color: gold; text-align: left; width: 250px;border-style: solid;color: brown; border-color: brown; border-radius: 5px}
#css-zen-garden {margin: 100px}
p {margin-left: 300px; text-align: justify; padding: 0 100px;}
div.summary p {margin-left: 100px;}
.summary p:nth-child(2) {margin-left: 0px;color:brown;text-align: center;}
div p:nth-child(2) {border-top: solid; border-top-left-radius: 40px; border-color: brown;}
div.main-supporting h3 {position: relative; left:400px; top: 21px}
body {background-image: url(http://www.stencilkingdom.com/images/designs/aztec02_large.gif); background-repeat:repeat-y;}
